<div class="container">

  <h1 class="jumbotron text-center">
    Welcome to my site
  </h1>

  <p class="text-primary" *ngIf="paraFlag">
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Nullam id dolor id nibh ultricies vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
    posuere erat a ante.
  </p>

  <p class="text-info">
    {{dateText}}
  </p>

  <button class="btn btn-info" (click)="togglePara()">
    {{(paraFlag) ? 'hide' : 'show'}}
  </button>

  <button class="btn btn-primary" (mouseover)="seeDate()" (mouseout)="resetText()">
    see date
  </button>

</div>
<br>

<div class="container">
  <ul class="list-group">    
    <li class="list-group-item d-flex justify-content-between align-items-center"
     *ngFor="let hobby of hobbies;let i = index">
      {{hobby}}
      <span class="badge badge-primary badge-pill">
          <i class="fa fa-trash" (click) = "deleteHobby(i)"></i>
      </span>
    </li>
  </ul>
  <br>
  <button class="btn btn-success" (click) = "addHobby()">add hobby</button>
  <button class="btn btn-warning" (click) = "resetHobbies()">reset</button>
</div>